* {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-decoration: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;

}

h1 {
  text-align: center;
  margin-top: 20px;
  padding: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  font-weight: 900;
  color: salmon;
  text-decoration: underline;
  text-decoration-color: salmon;

  
}
main {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  size: 16in 9in;
  width: 100%;
}
.right {
  -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}
div.image {
  width: auto;
  /* flex-wrap: wrap; */
  max-height: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
.text {
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  position: absolute;
  bottom: 0;
  height: auto;
  width: inherit;
  overflow: none;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: none;
  opacity: 0.65;
  margin-right: 10%;
}
.opened img{
  max-height: 400px;
}
.thumbnails img {
  margin: 15px 3px;
  border: 4px groove wheat;
  max-height: 50px;
}
img.active {
  transform: translate(0, -10px);
}
button {
  -webkit-appearance: none;
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  height: 50%;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  }
  button:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
  }
  button:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
  }
  @media all and (max-width:30em){
  button{
  display:block;
  margin:0.4em auto;
  }
  }
img.thumbnails:hover {
  cursor: pointer;
}
